body {
  background-color: steelblue;
  text-align: center;
}
h1 {
  font-weight: bold;
  color: coral;
}
button {
  background-color: greenyellow;
  border-radius: 5px;
  padding: 5px 10px;
}
button:hover {
  background-color: coral;
}
#open {
  background-color: yellow;
}
#open:hover {
  background-color: blueviolet;
  font-size: larger;
}
